@using Makc2020.Mods.IdentityServer.Web.Mvc.Parts.Account.Jobs.Logout.Get
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@model ModIdentityServerWebMvcPartAccountJobLogoutGetOutput

<div class="logout-page">
    <div class="page-header">
        <h1>@Localizer["Выход из системы"]</h1>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <p>@Localizer["Вы точно хотите выйти из системы?"]</p>
            <form asp-action="Logout">
                <input type="hidden" name="logoutId" value="@Model.LogoutId" />
                <fieldset>
                    <div class="form-group">
                        <button class="btn btn-primary">@Localizer["Да"]</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>