<!--mod--dummy-tree--page--index/-->
<ul class="skin--css--host--layout--body--part skin--css--core--list--vertical--center">
  <li>
    <h3>
      <a [routerLink]="myView.routerLinkToModDummyTreePageList">
        {{myPresenter.resources.titleOfModDummyTreePageList}}
      </a>
    </h3>
  </li>
  <li>
    <h3>
      <a [routerLink]="myView.routerLinkToModDummyTreePageItemCreate">
        {{myPresenter.resources.titleOfModDummyTreePageItemCreate}}
      </a>
    </h3>
  </li>
</ul>
<!--/mod--dummy-tree--page--index-->
