<app-skin-core-progress-spinner #ctrlLoading
                                *ngIf="!myView.isDataLoaded"
></app-skin-core-progress-spinner>

<div #ctrlRefresh="AppSkinCoreProgressSpinnerDirective"
     appSkinCoreProgressSpinner
     [hidden]="!myView.isDataLoaded"
     class="card"
>
  <p-toolbar>
    <div style="display: flex; flex-direction: row; justify-content: space-between;">
      <div style="display: flex; flex-direction: row; justify-content: flex-start;">
        <div style="display: flex; flex-direction: row; justify-content: space-between;">
          <button
            pButton type="button"
            icon="mdi mdi-close"
            [title]="myPresenter.resources.actions.actionDelete.title"
            (click)="myPresenter.onItemsDelete()"
            [disabled]="myView.getItemsDeleteButtonIsDisabled()"
          ></button>
        </div>
      </div>
      <div style="display: flex; flex-direction: row; justify-content: flex-end;">
        <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; width: 5rem;">
          <button
            pButton type="button"
            icon="mdi mdi-plus"
            [title]="myPresenter.resources.actions.actionAdd.title"
            (click)="myPresenter.onItemInsert()"
            [disabled]="myView.isActionStarted"
          ></button>
          <button
            pButton type="button"
            icon="mdi mdi-refresh"
            [title]="myPresenter.resources.actions.actionRefresh.title"
            (click)="myPresenter.onRefresh()"
            [disabled]="myView.isActionStarted"
          ></button>
        </div>
      </div>
    </div>
  </p-toolbar>

  <p-table #ctrlTable
           [columns]="myView.displayedColumns"
           [(selection)]="myView.selectedItems"
           [dataKey]="myView.dataKey"
  >
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th style="width: 4rem">
          <p-tableHeaderCheckbox
            [title]="myPresenter.resources.actions.actionSelectAllOnThisPage.title"
            [disabled]="myView.fieldFiltered.value === true"
          ></p-tableHeaderCheckbox>
        </th>
        <th style="width: 9.5rem">
          <div style="display: flex; flex-direction: row; justify-content: flex-start;">
            <button
              pButton type="button"
              icon="mdi mdi-sort-variant-remove"
              [title]="myPresenter.resources.actions.actionSortCancel.title"
              (click)="myPresenter.onSortCancel()"
              [disabled]="myView.getSortCancelButtonIsDisabled()"
            ></button>
          </div>
        </th>
        <th *ngFor="let col of columns"
            [pSortableColumn]="col.field"
            [pSortableColumnDisabled]="myView.isActionStarted"
        >
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </tr>
      <tr>
        <th>
          <p-checkbox
            [formControl]="myView.fieldFiltered"
            [binary]="true"
            [title]="myPresenter.resources.actions.actionSelectAllOnAllPages.title"
          ></p-checkbox>
        </th>
        <th>
          <div style="display: flex; flex-direction: row; justify-content: flex-start;">
            <div style="display: flex; flex-direction: row; justify-content: space-between; width: 5rem">
              <button
                pButton type="button"
                icon="mdi mdi-filter-remove"
                [title]="myPresenter.resources.actions.actionFilterCancel.title"
                (click)="myPresenter.onFilterCancel()"
                [disabled]="myView.getFilterCancelButtonIsDisabled()"
              ></button>
              <button
                pButton type="button"
                icon="mdi mdi-filter"
                [title]="myPresenter.resources.actions.actionFilter.title"
                (click)="myPresenter.onFilterChange()"
                [disabled]="myView.getFilterButtonIsDisabled()"
              ></button>
            </div>
          </div>
        </th>
        <th *ngFor="let col of columns" [ngSwitch]="col.field">
          <input *ngSwitchCase="myView.settingColumns.columnName.name"
                 pInputText
                 class="skin--css--host--control--grid--filter"
                 type="text"
                 [formControl]="myView.fieldName"
          >
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-row let-columns="columns">
      <tr [ngClass]="myView.getRowCssClass(row)">
        <td style="text-align: center;">
          <p-tableCheckbox
            [value]="row"
            [disabled]="myView.fieldFiltered.value === true"
          ></p-tableCheckbox>
        </td>
        <td>
          <div style="display: flex; flex-direction: row; justify-content: space-between;">
            <button
              pButton type="button"
              icon="mdi mdi-eye"
              [title]="myPresenter.resources.actions.actionView.title"
              (click)="myPresenter.onItemView(row.id)"
              [disabled]="myView.isActionStarted"
            ></button>
            <button
              pButton type="button"
              icon="mdi mdi-pencil"
              [title]="myPresenter.resources.actions.actionEdit.title"
              (click)="myPresenter.onItemEdit(row.id)"
              [disabled]="myView.isActionStarted"
            ></button>
            <button
              pButton type="button"
              icon="mdi mdi-close"
              [title]="myPresenter.resources.actions.actionDelete.title"
              (click)="myPresenter.onItemDelete(row.id)"
              [disabled]="myView.isActionStarted"
            ></button>
          </div>
        </td>
        <td *ngFor="let col of columns">
          {{row[col.field]}}
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-paginator #ctrlPaginator
               [first]="0"
               [rows]="myView.pageSize"
               [totalRecords]="myView.totalCount"
  ></p-paginator>
</div>
