<!--host--layout--menu2/-->
<ul class="skin--css--core--list--horizontal--center">
    <li id="app--id--host--layout--menu2--item--mod--auth--register">
        <a href="javascript:app['/'].pages.mods.modAuth.register.load()">Регистрация</a>
    </li>
    <li id="app--id--host--layout--menu2--item--mod--auth--logon">
        <a href="javascript:app['/'].pages.mods.modAuth.logon.load()">Вход</a>
    </li>
    <li id="app--id--host--layout--menu2--item--mod--auth--logoff">
        <a href="javascript:app['/'].user.logOff()">Выход</a>
    </li>
    <li id="app--id--host--layout--menu2--item--mod--dummy-main--list">
        <a href="javascript:app['/'].pages.mods.modDummyMain.list.load()">Список</a>
    </li>
    <li id="app--id--host--layout--menu2--item--mod--dummy-main--item--create">
        <a href="javascript:app['/'].pages.mods.modDummyMain.item.create.load()">Создать</a>
    </li>
    <li id="app--id--host--layout--menu2--item--mod--dummy-main--item--edit">
        <a href="javascript:app['/'].pages.mods.modDummyMain.item.edit.load()">Изменить</a>
    </li>
    <li id="app--id--host--layout--menu2--item--mod--dummy-main--item--view">
        <a href="javascript:app['/'].pages.mods.modDummyMain.item.view.load()">Просмотреть</a>
    </li>
</ul>
<!--/host--layout--menu2-->
