<div class="skin--css--host--layout" [ngClass]="myView.cssClass">
  <!--host--layout/-->
  <app-skin-host-layout-header></app-skin-host-layout-header>
  <app-skin-host-layout-menu #ctrlMenu1
                             [menuLevel]="1"
                             [cssClass]="'skin--css--host--layout--part skin--css--host--layout--menu1'"
                             [cssStyle]="myView.getMenuCssStyle(ctrlMenu1)"
  ></app-skin-host-layout-menu>
  <app-skin-host-layout-menu #ctrlMenu2
                             [menuLevel]="2"
                             [cssClass]="'skin--css--host--layout--part skin--css--host--layout--menu2'"
                             [cssStyle]="myView.getMenuCssStyle(ctrlMenu2)"
  ></app-skin-host-layout-menu>
  <app-skin-host-layout-menu #ctrlMenu3
                             [menuLevel]="3"
                             [cssClass]="'skin--css--host--layout--part skin--css--host--layout--menu2'"
                             [cssStyle]="myView.getMenuCssStyle(ctrlMenu3)"
  ></app-skin-host-layout-menu>
  <app-skin-host-layout-menu #ctrlMenu4
                             [menuLevel]="4"
                             [cssClass]="'skin--css--host--layout--part skin--css--host--layout--menu2'"
                             [cssStyle]="myView.getMenuCssStyle(ctrlMenu4)"
  ></app-skin-host-layout-menu>
  <div class="skin--css--host--layout--part skin--css--host--layout--body">
    <router-outlet></router-outlet>
  </div>
  <app-skin-host-layout-footer></app-skin-host-layout-footer>
  <!--/host--layout-->
</div>
<app-skin-core-notification></app-skin-core-notification>
