<!--mod--dummy-tree--page--item/-->
<div class="skin--css--host--layout--body--part skin--css--core--form">
  <form #ctrlForm="ngForm"
        novalidate
        (ngSubmit)="myPresenter.onSubmit()"
        class="skin--css--core--form--part"
        autocomplete="off">

    <div #ctrlLoading="AppSkinCoreProgressSpinnerDirective"
         #ctrlRefresh="AppSkinCoreProgressSpinnerDirective"
         appSkinCoreProgressSpinner
         class="skin--css--core--common--progress--spinner">

      <div class="skin--css--core--form--fields">
        <div *ngIf="myView.fieldId.value">
          <div>
            <label for="skin--id--mod--dummy-tree--page--item--id">
              {{myPresenter.resources.fields.fieldId.label}}
            </label>
          </div>
          <input pInputText
                 [formControl]="myView.fieldId"
                 type="text"
                 id="skin--id--mod--dummy-tree--page--item--id">
        </div>
        <div>
          <div>
            <div>
              <label for="skin--id--mod--dummy-tree--page--item--name">
                {{myPresenter.resources.fields.fieldName.label}}
              </label>
              <span *ngIf="myView.fieldNameErrorRequiredVisible"
                    class="skin--css--core--form--error--message">
                    <span class="skin--css--core--content--asterisk"></span>
                </span>
            </div>
            <input pInputText
                   required
                   maxLength="255"
                   type="text"
                   id="skin--id--mod--dummy-tree--page--item--name"
                   [placeholder]="myPresenter.resources.fields.fieldName.placeholder"
                   [formControl]="myView.fieldName">
          </div>
        </div>
      </div>
      <div *ngIf="myView.isDataChangeAllowed" class="skin--css--core--form--actions">
        <button
          pButton
          id="skin--id--mod--dummy-tree--page--item--button"
          type="submit"
          label="{{myPresenter.resources.buttons.buttonSubmit.title}}"
          [disabled]="myView.buttonSubmitDisabled"></button>
      </div>
    </div>
  </form>
</div>
<!--/mod--dummy-tree--page--item-->
