@import "wrap-begin.styles.css";
@import "~@angular/cdk/overlay-prebuilt.css";
@import "~@mdi/font/css/materialdesignicons.min.css";
@import "~primeng/resources/primeng.min.css";
@import "~primeng/resources/themes/luna-green/theme.css";
@import "wrap-end.styles.css";

.skin--css--host--control--grid--filter {
  width: 100%;
}

.skin--css--host--layout--header--logo {
  margin-right: 115px;
}

.ui-toast a,
.ui-toast a:active,
.ui-toast a:hover {
  text-decoration: none;
}
