.skin--css--core--common--bold {
  font-weight: bold;
}

.skin--css--core--common--center {
  text-align: center;
}

.skin--css--core--common--progress--spinner {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100px;
  min-width: 100px;
}
