<!--host--layout--menu1/-->
<ul class="skin--css--core--list--horizontal--center">
    <li id="app--id--host--layout--menu1--item--contacts">
        <a href="javascript:app['/'].pages.root.contacts.load()">Контакты</a>
    </li>
    <li id="app--id--host--layout--menu1--item--mod--dummy-main">
        <a href="javascript:app['/'].pages.mods.modDummyMain.index.load()">Сущность</a>
    </li>
    <li id="app--id--host--layout--menu1--item--mod--auth">
        <a href="javascript:app['/'].pages.mods.modAuth.index.load()">Аутентификация</a>
    </li>
    <li id="app--id--host--layout--menu1--item--administration">
        <a href="javascript:app['/'].way.changeToBack()">Администрирование</a>
    </li>
    <li id="app--id--host--layout--menu1--item--site">
        <a href="javascript:app['/'].way.changeToFront()">Сайт</a>
    </li>
</ul>
<!--/host--layout--menu1-->
