<!--host--layout/-->
<div class="skin--css--host--layout--part skin--css--host--layout--header" id="app--id--host--layout--header"></div>
<div class="skin--css--host--layout--part skin--css--host--layout--menu1" id="app--id--host--layout--menu1"></div>
<div class="skin--css--host--layout--part skin--css--host--layout--menu2" id="app--id--host--layout--menu2"></div>
<div class="skin--css--host--layout--part skin--css--host--layout--body" id="app--id--host--layout--body"></div>
<div class="skin--css--host--layout--part skin--css--host--layout--footer" id="app--id--host--layout--footer"></div>
<!--/host--layout-->
