<!--root--page--administration/-->
<ul class="skin--css--host--layout--body--part skin--css--core--list--vertical--center">
  <li>
    <h3>
      <a [routerLink]="myView.routerLinkToModDummyMainPageIndex">
        {{myPresenter.resources.titleOfModDummyMainPageIndex}}
      </a>
    </h3>
  </li>
  <li>
    <h3>
      <a [routerLink]="myView.routerLinkToModDummyTreePageIndex">
        {{myPresenter.resources.titleOfModDummyTreePageIndex}}
      </a>
    </h3>
  </li>
</ul>
<!--/root--page--administration-->
