<!--mod--dummy-main--page--item/-->
<div class="skin--css--host--layout--body--part skin--css--core--form">
  <!--
  <app-skin-core-progress-spinner #ctrlLoading
                                  *ngIf="!myView.isDataLoaded"></app-skin-core-progress-spinner>
                                  -->

  <form #ctrlForm="ngForm"
        novalidate
        (ngSubmit)="myPresenter.onSubmit()"
        class="skin--css--core--form--part"
        autocomplete="off">

    <div #ctrlLoading="AppSkinCoreProgressSpinnerDirective"
         #ctrlRefresh="AppSkinCoreProgressSpinnerDirective"
         appSkinCoreProgressSpinner
         class="skin--css--core--common--progress--spinner">

      <div class="skin--css--core--form--fields">
        <div *ngIf="myView.fieldId.value">
          <div>
            <label for="skin--id--mod--dummy--main--page--item--id">
              {{myPresenter.resources.fields.fieldId.label}}
            </label>
          </div>
          <input pInputText
                 [formControl]="myView.fieldId"
                 type="text"
                 id="skin--id--mod--dummy--main--page--item--id">
        </div>
        <div>
          <div>
            <div>
              <label for="skin--id--mod--dummy--main--page--item--name">
                {{myPresenter.resources.fields.fieldName.label}}
              </label>
              <span *ngIf="myView.fieldNameErrorRequiredVisible"
                    class="skin--css--core--form--error--message">
                    <span class="skin--css--core--content--asterisk"></span>
                </span>
            </div>
            <input pInputText
                   required
                   maxLength="255"
                   type="text"
                   id="skin--id--mod--dummy--main--page--item--name"
                   [placeholder]="myPresenter.resources.fields.fieldName.placeholder"
                   [formControl]="myView.fieldName">
          </div>
        </div>
        <div>
          <div>
            <div>
              <label for="skin--id--mod--dummy--main--page--item--object-dummy-one-to-many"
                     class="input-label"
                     [ngClass]="{'input-label__required': myView.isDataChangeAllowed}">
                {{myPresenter.resources.fields.fieldObjectDummyOneToMany.label}}
              </label>
              <span *ngIf="myView.fieldObjectDummyOneToManyErrorRequiredVisible"
                    class="skin--css--core--form--error--message">
                    <span class="skin--css--core--content--asterisk"></span>
                </span>
            </div>
            <p-dropdown [style]="{'width':'100%'}"
                        required
                        id="skin--id--mod--dummy--main--page--item--object-dummy-one-to-many"
                        [placeholder]="myPresenter.resources.fields.fieldObjectDummyOneToMany.placeholder"
                        [formControl]="myView.fieldObjectDummyOneToMany"
                        [options]="myView.selectItemsDummyOneToMany"></p-dropdown>
          </div>
        </div>
      </div>
      <div *ngIf="myView.isDataChangeAllowed" class="skin--css--core--form--actions">
        <button
          pButton
          id="skin--id--mod--dummy--main--page--item--button"
          type="submit"
          label="{{myPresenter.resources.buttons.buttonSubmit.title}}"
          class="btn btn_green"
          [disabled]="myView.buttonSubmitDisabled"></button>
      </div>
    </div>
  </form>
</div>
<!--/mod--dummy-main--page--item-->
